body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555555;
}

.options button {
    background-color: #255;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.options button.correct {
    background-color: #4CAF50;
}

.options button.wrong {
    background-color: #f44336;
}

.options button:hover {
    background-color: #87;
}
